{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://w7.pngwing.com/pngs/726/970/png-transparent-itunes-store-apple-music-music-apple-purple-music-video-os-x.png" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <h2 class="titulo_area">Redefinição de senha enviada</h2>

                <p>
                    Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe
                    com o email fornecido. Você receberá a mensagem em breve.
                </p>
                <br>
                <p>
                    Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que
                    você está cadastrado, e verifique sua pasta de spam.
                </p>

            </div>
        </div>
    </div>
{% endblock 'body' %} 