{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://w7.pngwing.com/pngs/726/970/png-transparent-itunes-store-apple-music-music-apple-purple-music-video-os-x.png" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <div class="d-flex justify-content-center form_container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h2 class="titulo_area">Digite a nova senha</h2>

                        <p>
                            Por favor, informe sua nova senha duas vezes para que
                            possamos verificar se você a digitou corretamente.
                        </p>


                        <div class="form-group">
                            {{form|bootstrap}}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="submit" value="Alterar minha senha" class="btn login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock 'body' %}