{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://w7.pngwing.com/pngs/726/970/png-transparent-itunes-store-apple-music-music-apple-purple-music-video-os-x.png" class="brand_logo" alt="Logo">
                    </div>
                </div>

                <h2 class="titulo_area">Redefinição de senha completa</h2>

                <p>
                    Sua senha foi definida. Você pode prosseguir e se autenticar agora.
                </p>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <a href="{% url 'login' %}" class="btn login_btn" type="button">Acessar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock 'body' %}