{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'plataforma/css/home.css' %}">
{% endblock 'head' %}

{% block 'titulo' %}Home{% endblock 'titulo' %}

{% block 'body' %}
    <hr>
    <div>
        <ul class="home-list">
            {% for album in albuns %}
                <li>
                    <span>
                        <a href="{% url 'plataforma:detalhe_album' username=album.artista_do_album album=album.nome_do_album %}" class="home-a">
                            <img src="{{album.logo_do_album.url}}" style="width:100px">
                        </a>
                    </span>
                    <span style="color: #007bff">{{album.nome_do_album}}</span> by
                    <a href="{% url 'plataforma:detalhe_perfil' username=album.nome_do_album %}" class="home-a">
                        {{album.artista_do_album}}
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock 'body' %}